:root{
    --yellow: rgb(233, 218, 61);
    --turquesa: rgba(127, 255, 212, 0.82);
    --azul: rgb(15, 30, 63);
}
.cerrar {
    position: fixed;
    top: 5px;
    right: 16px;
    background: var(--turquesa);
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: var(--azul);
    cursor: pointer;
    z-index: 10;
}
a[href^="https:"]{
    padding-right: 2em;
    background-image: url(/imagenes/salida.png);
    background-repeat: no-repeat;
    z-index: 10;
    background-size: 1em;
    background-position-x: right;
}
nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background: white;
    margin: 0px;
    top: 0;
    height: 50px;
    z-index: 10;
}
body {
margin-top: 70px;
font-family: roboto, sans-serif;
font-weight: 400;
}
.cm {
    height: 10cm;
    width: 10cm;
    background: aquamarine;
}
.mm {
    height: 100mm;
    width: 100mm;
    background: var(--azul);
}
.in {
    width: 3.94in;
    height: 3.94in;
    background: var(--azul);
}
.px {
    background: bisque;
    width: 378px;
    height: 378px;
}
.puntos {
    background: blueviolet;
    width: 288pt;
    height: 288pt;
}
.picas {
    background: burlywood;
    width: 24pc;
    height: 24pc;
}
.absolutas {
    display: flex;
    flex-wrap: wrap;
}
.em {
    background:  green;
    height: 23em;
    width: 23em;

}
.rem {
    background: var(--turquesa);
    width: 23rem;
    height: 23rem;
}
.vh {
    background: #0f0;
    width: 38vh;
    height: 38vh;
}
.vw {
    background: chocolate;
    width: 50vw;
    height: 50vw;
}
.porcentaje {
    background: crimson;
    width: 50%;
    height: 50%;
}
.coma {
    background: cadetvar(--azul);
    height: 10vh 100vw; 
    width: 100vh 10vw; 
}
.imagenfalsa {
    height: 399px;
    width: 399px;
    background-color: rgb(231, 14, 101);
    background-attachment: inherit;
    background-size: 299px, 299px;
    background-image: url(/imagenes/arana.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px auto;
    padding: 20px;
    border: 5px solid black;
}
.opcionesimagen {
    background-image: url(/imagenes/foto-perfil-sin-fondo.png);
    height: 300px;
    width: 1200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: calc(100% - 40px);
    margin: auto;
    transition: width 2s, height 5s;
    transition-delay: 1s;
}
.opcionesimagen:hover {
    width: 800px;
    height: 400px;
}
.imagenbackground {
    background: url(/imagenes/arana.png);
    background-size: 2em;
    background-repeat: no-repeat;
    padding: 2.5em;
    background-position-y: center;
}
[alt],[title]{
    border: 2px solid var(--yellow);
    border-radius: 50px;
}
h2.intro ::after{
    content:"este texto no existe" ;
    background: var(--azul);
    color: alicevar(--azul);
    display: block;
    position: fixed;
    background-position-y: bottom;
}
.divpadre {
    background: #d7e4ef;
}
.parrafofirstletter p::first-letter {
    color: crimson;
}
#preguntas-frecuentes {
    background: var(--azul);
    color: var(--yellow);
    animation-name: cambiocolor;
    animation-duration: 5s;
}
@keyframes cambiocolor {
    from {background: var(--azul);}
    to {background: var(--turquesa);}
}
img {
    max-width: 100%;
}
#cuerpo {
    max-width: 1500px;
    margin: auto;
}
h1 {background: rgb(244,215,38);
    background: linear-gradient(219deg, rgba(244,215,38,1) 2%, rgba(9,9,121,0.850577731092437) 51%, rgba(9,9,121,1) 100%);}
/*Responsive que no me sale*/
@media all and (min-width: 400px) and (max-width: 800px){
    #preguntas-frecuentes {
        background: #0f0;
    }
}
@media all and (max-width: 700px){
    nav>ul {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
    nav>ul li{
        margin: 6px opx;
    }
}
@media all and (min-width: 2200px)
{
    * {
        max-width: 2200px;
        margin: auto;
       }
}



/* no afecta y no funciona pero sirve para poner cualquier duda*/