.cerrar {
    position: fixed;
    top: 5px;
    right: 16px;
    background: aquamarine;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: yellow;
    cursor: pointer;
    z-index: 10;
}
a[href^="https:"]{
    padding-right: 2em;
    background-image: url(/imagenes/salida.png);
    background-repeat: no-repeat;
    z-index: 10;
    background-size: 1em;
    background-position-x: right;
}
nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    background: white;
    margin: 0px;
    top: 0;
    height: 50px;
    z-index: 10;
}
body {
margin-top: 70px;
}
.cm {
    height: 10cm;
    width: 10cm;
    background: aquamarine;
}
.mm {
    height: 100mm;
    width: 100mm;
    background: aliceblue;
}
.in {
    width: 3.94in;
    height: 3.94in;
    background: #065fd4;
}
.px {
    background: bisque;
    width: 378px;
    height: 378px;
}
.puntos {
    background: blueviolet;
    width: 288pt;
    height: 288pt;
}
.picas {
    background: burlywood;
    width: 24pc;
    height: 24pc;
}
.absolutas {
    display: flex;
    flex-wrap: wrap;
}
.em {
    background:  green;
    height: 23em;
    width: 23em;

}
.rem {
    background: aquamarine;
    width: 23rem;
    height: 23rem;
}
.vh {
    background: #0f0;
    width: 38vh;
    height: 38vh;
}
.vw {
    background: chocolate;
    width: 50vw;
    height: 50vw;
}
.porcentaje {
    background: crimson;
    width: 50%;
    height: 50%;
}
.coma {
    background: cadetblue;
    height: 10vh 100vw; 
    width: 100vh 10vw; 
}
.imagenfalsa {
    height: 399px;
    width: 399px;
    background-color: rgb(231, 14, 101);
    background-attachment: inherit;
    background-size: 299px, 299px;
    background-image: url(/imagenes/arana.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px auto;
    padding: 20px;
    border: 5px solid black;
}
.opcionesimagen {
    background-image: url(/imagenes/foto-perfil-sin-fondo.png);
    height: 300px;
    width: 1200px;
    background-repeat: no-repeat;
    background-color: aquamarine;
    background-size: contain;
    background-position: center;
}
.imagenbackground {
    background: url(/imagenes/arana.png);
    background-size: 2em;
    background-repeat: no-repeat;
    padding: 2.5em;
    background-position-y: center;
}
[alt],[title]{
    border: 2px solid rgb(255, 234, 0);
    border-radius: 50px;
}
h2.intro ::after{
    content:"este texto no existe" ;
    background: #065fd4;
    color: aliceblue;
    display: block;
    position: fixed;
    background-position-y: bottom;
}
.divpadre {
    background: #d7e4ef;
}
.parrafofirstletter p::first-letter {
    color: crimson;
}



/* no afecta y no funciona pero sirve para poner cualquier duda*/